<form class="row no-gutters my-4" asp-action="search" asp-controller="layout">
    <div class="col-md-10"><input class="form-control mr-sm-2" type="search" name="id" placeholder="Search" aria-label="Search"></div>
    <button class="col-md-2 btn btn-outline-success mt-2 my-sm-0" type="submit">Search</button>
    <div class="col-md-10 pl-2"><a style="float:right; margin-right:-185px;" href="" id="js-more">Advanced Search</a></div>
    <div class="col-md-4"><input name="technology" placeholder="Technology" class="form-control js-search" /></div>
    <div class="col-md-4"><input name="risk" placeholder="Risk" class="form-control js-search" /></div>
    <div class="col-md-4"><input name="stakeholder" placeholder="Stakeholder" class="form-control js-search" /></div>
    <div class="col-md-4"><input name="budgetFrom" placeholder="Minimum Budget" class="form-control js-search" /></div>
    <div class="col-md-4"><input name="budgetTo" placeholder="Maximum Budget" class="form-control js-search" /></div>
    <div class="col-md-4"><input name="projectName" placeholder="Project Name" class="form-control js-search" /></div>
</form>
